:root {
  --cv-header: rgb(20, 62, 114);
  --font-color: #f1f5f9;
  --brand-color: #404040;
  --gray-lines: #a8a29e;
  --gray-font: #44403c;
  --sections-color: #e7e5e4;
}

.cv {
  margin: 50px 0px;
  width: 800px;
  height: 100vh;
  box-shadow: 2px 2px 10px;
  color: var(--gray-font)
}

.cv-header {
  background-color: var(--cv-header);
  height: 120px;
  color: var(--font-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cv .body {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  height: calc(100% - 120px);
}

.cv h3 {
  color: var(--cv-header);
  border-bottom: solid 1px var(--gray-lines);
  margin-bottom: 10px;
}

.description-container,
.experience-container,
.education-container {
  margin-top: 20px;
  grid-column: 1 / 2;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}



.description {
  color: var(--gray-font);
  font-style: italic;
}

.cv .personal {
  grid-column: 2 / 3;
  height: 100%;
  padding: 15px;
  background-color: var(--sections-color);
}

img {
  height: 280px;
  width: 200px;
}

.bold {
  font-weight: 600;
}

.cv .personal {
  display: flex;
  gap: 20px;
}

.personal .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-section,
.education-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.cv .details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}